body {
  margin: 0;
  background: url(../img/pattern.png);
  line-height: 39.5px;
  font-size: 20px;
}

.card {
  width: 400px;
  margin: 30px auto;
  padding: 10px;
  background-color: rgba(34, 161, 211, 0.418);
  box-shadow: 10px 10px 13px rgb(16, 5, 78);
  border-radius: 40px;
}

.card-photo {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 60%;
}

.card-title {
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: indigo;
}

.card-text {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
}

.card-subtitle {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: maroon;
}

.card-list {
  font-size: 15px;
  line-height: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-left: 0px;
  list-style-position: inside;
}
